@{
    ViewData["Title"] = "About";
}

<div class="container">
    <h2>About This App</h2>
    <p>
        The aim of this project is to provide a tool with which you can compute the yearly electricity costs for different electrical devices based on current electricity market prices.
        This application will eventually also provide real-time and historical day-ahead electricity prices in Germany.
        It visualizes price trends to help users understand energy market fluctuations.
    </p>
</div>